body {
  background-color: gainsboro;
}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: gainsboro;
}

.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(77, 94, 125);
}

.blogDescMain {
  font-weight: 700;
  color: gainsboro;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: gainsboro;
}

.blogBoxCont {
  margin-top: 10px;
  border-style: solid;
  background-color: gainsboro;
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(62, 103, 143);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(62, 103, 143);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: rgb(96, 107, 128);
  margin-bottom: 10px;
}

a:link {
  color: gainsboro;
}
a:visited {
  color: gainsboro;
}

.login {
  margin-left: 25px;
}

.signup {
  margin-left: 25px;
}

.form-group {
  margin-top: 10px;
}
